@import "tailwindcss";
@import "tw-animate-css";
/* @import "shadcn/tailwind.css"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
--font-sans: var(--font-sans);
--font-mono: var(--font-mono);
--font-bebas-neue: var(--font-bebas-neue);
--font-space-mono: var(--font-space-mono);
--color-background: var(--background);
--color-foreground: var(--foreground);
--color-card: var(--card);
--color-card-foreground: var(--card-foreground);
--color-popover: var(--popover);
--color-popover-foreground: var(--popover-foreground);
--color-primary: var(--primary);
--color-primary-foreground: var(--primary-foreground);
--color-secondary: var(--secondary);
--color-secondary-foreground: var(--secondary-foreground);
--color-tertiary: var(--tertiary);
--color-tertiary-foreground: var(--tertiary-foreground);
--color-muted: var(--muted);
--color-muted-foreground: var(--muted-foreground);
--color-accent: var(--accent);
--color-accent-foreground: var(--accent-foreground);
--color-destructive: var(--destructive);
--color-destructive-foreground: var(--destructive-foreground);
--color-border: var(--border);
--color-input: var(--input);
--color-ring: var(--ring);
--color-chart-1: var(--chart-1);
--color-chart-2: var(--chart-2);
--color-chart-3: var(--chart-3);
--color-chart-4: var(--chart-4);
--color-chart-5: var(--chart-5);
--color-sidebar: var(--sidebar);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-ring: var(--sidebar-ring);
--radius-sm: calc(var(--radius) - 4px);
--radius-md: calc(var(--radius) - 2px);
--radius-lg: var(--radius);
--radius-xl: calc(var(--radius) + 4px);
--radius-2xl: calc(var(--radius) + 8px);
--radius-3xl: calc(var(--radius) + 12px);
--radius-4xl: calc(var(--radius) + 16px);
}

:root {
--background: oklch(0.1505 0.0214 283.53);
--foreground: oklch(0.95 0.01 283.53);
--card: oklch(0.2043 0.0316 283.24);
--card-foreground: oklch(0.92 0.015 283.53);
--popover: oklch(0.205 0 0);
--popover-foreground: oklch(0.92 0.015 283.53);
--primary: oklch(0.8911 0.1861 103.2);
--primary-foreground: oklch(0.15 0.02 103.2);
--secondary: oklch(0.9314 0.2281 122.86);
--secondary-foreground: oklch(0.15 0.02 122.86);
--tertiary: oklch(0.7023 0.2002 44.94);
--tertiary-foreground: oklch(0.15 0.02 44.94);
--muted: oklch(0.269 0 0);
--muted-foreground: oklch(0.75 0.01 283.53);
--accent: oklch(0.8818 0.1499 200.08);
--accent-foreground: oklch(0.15 0.02 200.08);
--destructive: oklch(0.704 0.191 22.216);
--destructive-foreground: oklch(0.15 0.02 22.216);
--border: oklch(1 0 0 / 10%);
--input: oklch(1 0 0 / 15%);
--ring: oklch(0.556 0 0);
--chart-1: oklch(0.905 0.182 98.111);
--chart-2: oklch(0.795 0.184 86.047);
--chart-3: oklch(0.681 0.162 75.834);
--chart-4: oklch(0.554 0.135 66.442);
--chart-5: oklch(0.476 0.114 61.907);
--radius: 0.875rem;
--sidebar: oklch(0.205 0 0);
--sidebar-foreground: oklch(0.92 0.015 283.53);
--sidebar-primary: oklch(0.795 0.184 86.047);
--sidebar-primary-foreground: oklch(0.15 0.02 86.047);
--sidebar-accent: oklch(0.269 0 0);
--sidebar-accent-foreground: oklch(0.85 0.01 283.53);
--sidebar-border: oklch(1 0 0 / 10%);
--sidebar-ring: oklch(0.556 0 0);
}


@layer base {
* {
  @apply border-border outline-ring/50;
}
body {
  @apply bg-background text-foreground;
}
}

@layer utilities {
.font-bebas-neue {
  font-family: var(--font-bebas-neue);
}
.font-space-mono {
  font-family: var(--font-space-mono);
}
}